@import '../../assets/sass/mixin.scss';


#App {
  min-block-size: 100vh;
  inline-size: 80%;
  justify-content:left;
}

.routes {
  inline-size: calc(100% - 7.5rem);
  margin-inline-start: 7.5rem;
}


@include for-desktop-large-only {
  .routes {
    inline-size: calc(100% - 10rem);
    margin-inline-start: 10rem;
  }
}

@include for-desktop-xlarge-only {
  .routes {
    inline-size: calc(100% - 15rem);
    margin-inline-start: 15rem;
  }
}

@include for-desktop-only {
  .routes {
    inline-size: 100%;
    margin-inline-start: 0;
    margin-block-end: 5.5rem;
  }
}
