// MEDIA QUERIES
$desktop-xlarge: 160em; // 2560px
$desktop-large: 120em; // 1920px
$desktop: 64em; // 1024px
$tablet: 48em; // 768px
$tablet-small: 37.5em; // 600px
$mobile: 30em; // 480px
$mobile-small: 20em; // 320px